/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major second modular scale
 http://www.modularscale.com/?20&px&1.125&web&text
*/


html {
  font-size: 1.25em; /*20px 1 em 1.25@16 */
  line-height: 1.2em; /*24/20= 1.2 em */
}

h1 {
  font-size: 1.601em; /* 32.036px/20px = 1.601em */
  line-height: 1.404em; /* 45/32.036 = 1.404em */
}

p,
ul {
  padding-bottom: 1.2em; /* 1 girdline */
}

li {
  padding-bottom: 0.5em; /*half grid line 10px/20px = 0.5em */ 
}

li:last-child {
  padding-bottom: 0;
}

#about-page ul {
  padding-bottom: 1.2em; /* 1 girdline */
}

#about-page li {
  padding-bottom: 0.5em; /*half grid line 10px/20px = 0.5em */ 
}

#about-page li:last-child {
  padding-bottom: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

#resume-page {
  font-family:"Gill Sans Extrabold", Helvetica, sans-serif;
  background-color: #e2c7c0; /* https://www.google.com/#q=html+color+picker */
}

#resume-page #objective{
  font-size: 1.423em; /* 28.477px/20px = 1.423em */
  line-height: 1.404em; /* 45/28.477 = 1.580em */
}

#resume-page #my-name {
  font-size: 1.802em; /* 36.041px/20px = 1.802em */
  line-height: 1.248em; /* 45/36.041 = 1.248em */
}

#resume-page #education {
  font-size: 1.423em; /* 28.477px/20px = 1.423em */
  line-height: 1.404em; /* 45/28.477 = 1.580em */
}

#resume-page #emp-history {
  font-size: 1.423em; /* 28.477px/20px = 1.423em */
  line-height: 1.404em; /* 45/28.477 = 1.580em */
}

#resume-page #employer1-name {
  font-size: 1.265em; /* 25.313/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#resume-page #employer2-name {
  font-size: 1.265em; /* 25.313px/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#resume-page #employer2-name {
  font-size: 1.265em; /* 25.313px/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#travel #south-beach {
  font-size: 1.953em; /* 39.063/20px = 1.953em*/
  line-height: 1.777em; /* 45/39.063 = 1.151em */
  color:#0980e8;
}

#about-page #about-h1 {
  font-size: 1.953em; /* 39.063/20px = 1.953em*/
  line-height: 1.777em; /* 45/39.063 = 1.151em */
}

#about-page #upbringing{
  font-size: 1.423em; /* 28.477px/20px = 1.423em */
  line-height: 1.404em; /* 45/28.477 = 1.580em */
}

#about-page #hobbies {
  font-size: 1.265em; /* 25.313/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#about-page #photography {
  font-size: 1.265em; /* 25.313/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#about-page #videography {
  font-size: 1.265em; /* 25.313/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
}

#chkn-rice {
  display:block;
  max-width: 100%;
}

#white-flower {
  display:block;
  max-width: 100%;
}

#about-page #bird-video {
  display:block;
  max-width: 100%;
}

#travel #cuban-culture {
  font-size: 1.265em; /* 25.313px/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
  color:#456077;
}

#travel #mango-intro {
  font-size: 1.265em; /* 25.313px/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
  color:#456077;
}

#travel #entertainment {
  font-size: 1.265em; /* 25.313px/20px = 1.265em */
  line-height: 1.777em; /* 45/25.313 = 1.777em */
  color:#456077;
}
/* ===== LAYOUT STYLES ===== */

#cuban-page{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
}

#about-page{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
}


#resume-page{
  padding: 1.2em 0.925em; /* 1.2em is 1 gridline and 18.5/20 = 0.925em*/
}

#resume-page #nav-links {
  position: absolute;
  top: 0;
}

#nav-links li {
  display: inline-block;
}

#nav-links {
  padding: 0;
  line-height: 1;
}

#nav-links li a {
  display: block;
  background-color: #ba8071;
  color: #302421;
  padding-top: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
  padding-bottom: 0.65em;/* 13px/20px = 0.65em (13+20+13= 46)*/
}

#resume-page #my-name {
  padding-top: 3.3em; /* 66px/20px=3.3em*/
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}

#link-resume {
  color: #EFE5BE;
  background-color: #222;
}

#link-about {
  color: #EFE5BE;
  background-color: #555;
}

#nav-links li a {
  text-decoration: none;
}
/* ===== STATE STYLES ===== */

/* 650 @ 16px/em */
@media screen and (min-width: 40.625em){
  #cuban-page{
    margin: 0 25.428% 0 14.285%;
  } 
}

@media screen and (min-width: 890px){
  #cuban-page{
    margin: 0;
  } 
}


